max-extra-large = 1199px;
max-large = 991px;
max-medium = 767px;
max-sm = 575px;

//@media (max-width: max-extra-large)
//@media (max-width: max-large)
//@media (max-width: max-medium)
//@media (max-width: max-sm)

text-color = #333333
dark-grey = #7E7E7E
accent-color = #006EC7
